/*IMERSAO CSS*/

*{
	margin: 0;
	padding:0;
	box-sizing: border-box;
}

body {
	background-image: url('https://www.publicdomainpictures.net/pictures/130000/velka/gray-top-gradient-background.jpg');
	background-size: auto 100vh;
	font-family:courier;
	background-attachment: fixed;
	font-size: 12px;	
}

@media (min-width: 400px) {
	body {
		font-size: 14px;
	}
}

@media (min-width: 600px) {
	body {
		font-size: 18px;
	}
}

@media (min-width: 1200px) {
  body {
    font-size: 20px;
  }
}

header {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	
}

.site-title, .site-subtitle {
	color: black;
	text-align: center;
	font-family: 'Source Code Pro', courier, monospace;
	line-height: 2.2em;
}

a {
	text-decoration: none;
	font-family: courier;
	font-size: 20px;
}

.menu {
	position: fixed;
	top: 0;
	width: 110vw;
	background-color: #de605e; 
	z-index: 1;
}

.menu a {
	display: block;
	color: white;
	padding: 20px 20px;
	text-decoration: none;
	transition: 0.5s;

}

.menu a:hover {
	text-decoration: underline;
	color: black;
	text-shadow: 10px 5px 10px black;
	transition: transform 500ms;
	transform: scale(1.2);
}


.menu ul {
  display:flex; 
  justify-content: space-evenly;
}

.menu li {
	list-style:none;  	
 }

 .contato, .portfolio {
	color: black;
	font-family: 'Source Code Pro',courier, monospace;
	line-height: 3em;
	background-color:#bfbfbf;
	padding: 2em;
	margin: 2em;
 }
 
.portfolio .grid{
	 display: grid;
	 gap: 2em;
 }


 @media (min-width: 560px) {
	.portfolio .grid {
	grid-template-columns: 100px 100px;
	}
 }
 
 @media (min-width: 880px) {
	.portfolio .grid {
		grid-template-columns: repeat(3, 260px);
		justify-content: center;
		align-content: center;
		height: calc(100vh -8em - 48px);
	}
 }


 
 .contato a {
	 font-size: 5em;
	 color: #df4240;
	transition: 0.5s;
 }
 
.contato a:hover {
	color: black;
	text-decoration: none;
	text-shadow: 10px 5px 10px #cc7722;
	transition: transform 500ms;
	transform: scale(1.2);
 }

.contato a:active {
	color:#b9c6d6;
	text-shadow: 10px 5px 10px black;
}

.contato .gridd {
		display: grid;
		gap: 0;
}


@media (min-width: 560px) {
	.contato .gridd {
		grid-template-columns: 90px 100px 100px 100px;
	}
}

@media (min-width: 880px) {
	.contato .gridd {
		grid-template-columns: repeat(4, 180px);
		justify-content:center;
		align-content: center;
		height: calc(100vh - 8em -48px);
	}
}

.img-portfolio {
	height: 240px;
	width: 280px;
}

.contato a {
	text-align: center;
}


figcaption {
	font-size: 1.4em;
}

h2 {
	text-align: center;
	line-height: 4em;
}
